<!doctype html>
<html>
	<head>
		<title>${1}</title>${2}
	</head>
	<body>
		<div id="container">
			<header></header>
			<div id="main">
				${3}
			</div>
			<footer></footer>
		</div>
	</body>
</html>
